p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
  }

h2 {
    font-size: 30px;
}

#button16 {
    background-color: #B921E6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#button18 {
  background-color: #DA04E6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#button24 {
  background-color: #9D08FC;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#stop {
    background-color: #F02E1D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#A {
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

#B {
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}

#C {
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 90px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }